$yellow: #fac748;
$red: #cd533b;
$blue: #496ddb;
$black: #002626;
$white: #fafaff;

$yellow-blind: #ffab66;
$red-blind: #ff4d39;
$blue-blind: #4a8ac6;
$black-blind: #012626;
$white-blind: #fafbfe;

$bright-yellow: #fcf5e1;

$gradient-yellow: #f3a736;
$gradient-orange: #ffae6c;

$yellow-menu: $white;
