@import '../../styles/_colors.scss';

#app {
  header {
    grid-area: hd;
    font-family: 'Lobster', cursive;
    display: block;
    height: 100%;
    background: $yellow;
    padding: 5px 0px;
    text-align: center;
    span {
      font-size: 2rem;
      color: $black;
    }
    .menu-bars {
      position: absolute;
      left: 20px;
      transition: 0.3s;
      &:hover {
        color: $red;
      }
    }
  }
}

